.wapi
.deps
*.dll
*.mdb
*.exe
aclocal.m4
autom4te.cache
bin
build-arch-stamp
build-indep-stamp
build/libpms.pc
build/PMS.pc
build-stamp
config.guess
config.log
config.status
config.sub
configure
configure-stamp
debian
debian.*/tmp
debian.*/files
debian.*/libpms-cil
debian.*/libpms-cil-doc
debian.*/libpms-cil-dbg
debian.*/libpms-pgsql-cil
debian.*/libpms-pgsql-cil-dbg
debian.*/libpms-sqlite3-cil
debian.*/libpms-sqlite3-cil-dbg
debian.*/*.substvars
debian/tmp
doc/api-html/*
doc/Makefile
doc/Makefile.in
doc/*.tree
doc/*.zip
doc/*.stamp
extra/policy.0.6.PMS.config
extra/policy.config
install-sh
ltmain.sh
Makefile
Makefile.in
missing
PMS/bin
PMS/Makefile
PMS/obj
PMS/PMS.csproj.user
PMS/Properties/AssemblyInfo.cs
PMS.Server/bin
PMS.Server/obj
PMS.Setup/bin
PMS.Setup/Debug
PMS.Setup/Release
PMS.suo
PMS-*.tar.gz
policy/policy.*.PMS.config
policy/policy.config
scripts/pms-repo
PMS.Data.Pgsql/obj
PMS.Data.Sqlite/obj
