<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="PMS" publicKeyToken="9efcb6b828991de4" />
         <bindingRedirect oldVersion="0.7.0.0-0.7.0.1" newVersion="0.7.0.2"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
