Source: libpms-cil
Section: universe/libs
Priority: optional
Maintainer: Matthew Metnetsky <matthew@cowarthill.com>
Build-Depends: autotools-dev, debhelper (>= 4.0.0), mono-gac, cli-common (>= 0.2.0), cli-common-dev (>= 0.4.4), monodoc-base
Standards-Version: 3.6.2

Package: libpms-cil
Architecture: all
Depends: ${cli:Depends}, python-elementtree | python-celementtree
Description: PMS - Phil & Matt Spaces for .NET
 PMS is an object relation mapping library for .NET/mono.
 .
 This version is packaged for Mono 2.0. 

Package: libpms-cil-dbg
Architecture: all
Depends: libpms-cil (= ${Source-Version})
Description: Debug symbols for libpms

Package: libpms-pgsql-cil
Architecture: all
Depends: libpms-cil (= ${Source-Version}), ${cli:Depends}
Description: PMS Postgresql Support

Package: libpms-pgsql-cil-dbg
Architecture: all
Depends: libpms-cil (= ${Source-Version})
Description: PMS Postgresql Debug Symbols
