<Type Name="Config" FullName="PMS.Config">
  <TypeSignature Language="C#" Value="public sealed class Config" />
  <AssemblyInfo>
    <AssemblyName>PMS</AssemblyName>
    <AssemblyVersion>0.6.40.6</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Members>
    <Member MemberName="Instance">
      <MemberSignature Language="C#" Value="public static PMS.Config Instance { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>PMS.Config</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Path">
      <MemberSignature Language="C#" Value="public static string Path { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Providers">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.SortedList&lt;string,PMS.Data.IProvider&gt; Providers;" />
      <MemberType>Field</MemberType>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.SortedList&lt;System.String,PMS.Data.IProvider&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
</Type>
