<Type Name="Config" FullName="PMS.Config">
  <TypeSignature Language="C#" Value="public static class Config" />
  <AssemblyInfo>
    <AssemblyName>PMS</AssemblyName>
    <AssemblyVersion>0.7.0.2</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
      <para>Contains static variables pointing to resources used during startup</para>
    </summary>
    <remarks>
      <para>Most end-users will never need this</para>
    </remarks>
  </Docs>
  <Members>
    <Member MemberName="SystemPath">
      <MemberSignature Language="C#" Value="public static string SystemPath { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <para>Returns string path where PMS config files can be found.</para>
        </summary>
        <value>
          <para>Unix = /etc/libpms</para>
          <para>Win32 = c:\Program Files\Common Files\PMS</para>
        </value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UserPath">
      <MemberSignature Language="C#" Value="public static string UserPath { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
          <para>Returns string path where PMS config files can be found for the user.</para>
        </summary>
        <value>
          <example>Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData), "libpms")</example>
        </value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
