Source: libpms
Section: universe/libs
Priority: optional
Maintainer: Matthew Metnetsky <matthew@cowarthill.com>
Build-Depends: debhelper (>= 4.0.0), mono-gac, cli-common (>= 0.2.0)
Standards-Version: 3.6.2

Package: libpms
Architecture: any
Depends: ${cli:Depends}
Description: PMS - Phil & Matt Spaces for .NET
 PMS is an object relation mapping library for .NET/mono.
 .
 This version is packaged for Mono 2.0. 

Package: libpms-dbg
Architecture: any
Depends: libpms (= ${Source-Version})
Description: Debug symbols for libpms

Package: libpms-pgsql
Architecture: any
Depends: libpms (= ${Source-Version}) ${cli:Depends}
Description: PMS Postgresql Support

Package: libpms-pgsql-dbg
Architecture: any
Depends: libpms (= ${Source-Version}) ${cli:Depends}
Description: PMS Postgresql Debug Symbols

Package: libpms-sqlite3
Architecture: any
Depends: libpms (= ${Source-Version}) ${cli:Depends}
Description: PMS Sqlite3 Support

Package: libpms-sqlite3-dbg
Architecture: any
Depends: libpms (= ${Source-Version}) ${cli:Depends}
Description: PMS Sqlite3 Debug Symbols

