Source: libpms2-cil
Section: universe/libs
Priority: optional
Maintainer: Matthew Metnetsky <matthew@cowarthill.com>
Build-Depends: autotools-dev, debhelper (>= 4.0.0), mono-gac, mono-gmcs, libmono2.0-cil, cli-common (>= 0.2.0), cli-common-dev (>= 0.4.4), monodoc-base, python-lxml
Standards-Version: 3.6.2

Package: libpms2-cil
Architecture: all
Depends: ${cli:Depends}, python-lxml
Description: PMS - Phil & Matt Spaces for .NET
 PMS is an object relation mapping library for .NET/mono.
 .
 This version is packaged for Mono 2.0. 

Package: libpms2-cil-doc
Architecture: all
Depends: python-lxml, monodoc-manual, monodoc-base
Description: compiled XML documentation for PMS

Package: libpms2-cil-dbg
Replaces: libpms2-dbg
Conflicts: libpms2-dbg
Architecture: all
Depends: libpms2-cil (= ${Source-Version})
Description: Debug symbols for PMS

Package: libpms2-pgsql-cil
Architecture: all
Depends: libpms2-cil (= ${Source-Version}), ${cli:Depends}
Description: PMS Postgresql Support

Package: libpms2-pgsql-cil-dbg
Architecture: all
Depends: libpms2-cil (= ${Source-Version})
Description: PMS Postgresql Debug Symbols

Package: libpms2-sqlite3-cil
Architecture: all
Depends: libpms2-cil (= ${Source-Version}), ${cli:Depends}
Description: PMS Sqlite3 Support

Package: libpms2-sqlite3-cil-dbg
Architecture: all
Depends: libpms2-cil (= ${Source-Version})
Description: PMS Sqlite3 Debug Symbols
