#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS
export MONO_SHARED_DIR=$(CURDIR)
DEBDIR=$(CURDIR)/debian

config.status: configure
	dh_testdir
	./configure

build: build-indep
build-indep: build-indep-stamp
build-indep-stamp:  config.status
	$(MAKE) 
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-indep-stamp
	rm -rf $$MONO_SHARED_DIR/.wapi
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean 

install: install-indep

install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i
	$(MAKE) install DESTDIR=$(DEBDIR)/tmp
	install -d $(DEBDIR)/tmp/etc/libpms2
	echo "# providers" > $(DEBDIR)/tmp/etc/libpms2/providers
	dh_install -i --sourcedir=$(DEBDIR)/tmp
	for i in libpms2-cil libpms2-pgsql-cil libpms2-sqlite3-cil; do \
		find $(DEBDIR)/$$i -type f -name '*.mdb' -prune -exec rm '{}' \; ; \
	done;
	find $(DEBDIR)/ -type f -name "*.dll" -or -name "*.mdb" | xargs chmod -x

binary-arch:

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs -plibpms2-cil -plibpms2-pgsql-cil -plibpms2-sqlite3-cil -plibpms2-cil-doc
	dh_installdocs -plibpms2-cil
	dh_installman -plibpms2-cil -plibpms2-cil-doc
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_makeclilibs -m 1.9.0 -l 1.9.1
	dh_clideps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture dependant packages using the common target.
binary-indep: build-indep install-indep binary-common

binary: binary-indep

.PHONY: build clean binary-indep binary install install-indep 
